<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; font-src 'self' https://assets.ngrok.com; style-src 'self' 'unsafe-inline';">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить секцию</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <a href="/" class="return-link">
            <img src="/static/images/return.png" alt="Вернуться в магазин" class="return-btn">
        </a>
        <h1>Добавить секцию</h1>
    </header>
    <main>
        <form action="/admin/add_section" method="POST" enctype="multipart/form-data">
            <label for="name">Название:</label>
            <input type="text" id="name" name="name" required>

            <button type="submit">Добавить</button>
        </form>
    </main>

</body>
</html>
