<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; font-src 'self' https://cdn.ngrok.com; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' https://telegram.org;">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактировать товар</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <a href="/admin" class="return-link">
            <img src="/static/images/return.png" alt="Вернуться в admin панель" class="return-btn">
        </a>
        <h1>Редактировать товар</h1>
    </header>
    <main>
        <form action="/admin/edit_product/{{ product.id }}" method="POST" enctype="multipart/form-data">
            <label for="name">Название:</label>
            <input type="text" id="name" name="name" value="{{ product.name }}" required>

            <label for="price">Цена:</label>
            <input type="number" id="price" name="price" value="{{ product.price }}" required>

            <label for="product-section">Секция:</label>
            <select id="product-section" name="section_id" required>
                <!-- Секции будут загружаться динамически -->
            </select>

            <label for="description">Описание:</label>
            <textarea id="description" name="description" required>{{ product.description }}</textarea>

            <label for="image">Изображение (оставьте пустым, чтобы не менять):</label>
            <input type="file" id="image" name="image">

            <button type="submit">Сохранить изменения</button>
        </form>
    </main>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
        const sectionSelect = document.getElementById("product-section");

        // Загружаем список секций из API
        fetch('/api/viewsections')
            .then(response => response.json())
            .then(sections => {
                sections.forEach(section => {
                    const option = document.createElement("option");
                    option.value = section.id;
                    option.textContent = section.name;
                    sectionSelect.appendChild(option);
                });
            })
            .catch(error => console.error("Ошибка загрузки секций:", error));
    });

    </script>

</body>
</html>