<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактировать секцию</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>Редактировать секцию</h1>
        <a href="/admin">Вернуться в админ-панель</a>
    </header>
    <main>
        <form action="/admin/edit_section/{{ section.id }}" method="POST" enctype="multipart/form-data">
            <label for="name">Название:</label>
            <input type="text" id="name" name="name" value="{{ section.name }}" required>

            <button type="submit">Сохранить изменения</button>
        </form>
    </main>
</body>
</html>