<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; font-src 'self' https://cdn.ngrok.com; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline';">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактировать секцию</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <a href="/admin" class="return-link">
            <img src="/static/images/return.png" alt="Вернуться в admin панель" class="return-btn">
        </a>
        <h1>Редактировать секцию</h1>
        <a href="/admin">Вернуться в админ-панель</a>
    </header>
    <main>
        <form action="/admin/edit_section/{{ section.id }}" method="POST" enctype="multipart/form-data">
            <label for="name">Название:</label>
            <input type="text" id="name" name="name" value="{{ section.name }}" required>

            <button type="submit">Сохранить изменения</button>
        </form>
    </main>

</body>
</html>