<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Магазин WOWS</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>Добро пожаловать в магазин WOWS!</h1>
        <div class="search-bar-container">
            <input type="text" placeholder="Найти..." id="search-bar">
            <div class="floating-cart">
                <img src="/static/images/cart-icon.png" class="cart-icon">
                <span class="cart-count">0</span>
                <!-- Контейнер для выпадающей корзины -->
                <div class="cart-dropdown hidden">
                    <ul id="cart-items">
                        <!-- Товары в корзине будут добавляться динамически -->
                    </ul>
                    <button id="checkout-button">Оформить заказ</button>
                </div>
            </div>
        </div>
    </header>

    <main>
        <section class="sections-container" id="sections-container">
        <!-- Секции и товары будут загружаться динамически -->
         </section>
    </main>

    <script src="/static/js/main.js"></script>
    <script src="/static/js/cart.js"></script>
</body>
</html>
