<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.name }}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <a href="/">Вернуться в магазин</a>
        <h1>{{ product.name }}</h1>
    </header>
    <main>
        <img src="/{{ product.image }}" alt="{{ product.name }}">
        <p>Цена: {{ product.price }} дублонов</p>
        <p>{{ product.description }}</p>
        <button class="add_to_cart" data-id="{{ product.id }}">Добавить в корзину</button>

    </main>
    <!-- Скрипты -->
    <script src="/static/js/add_to_cart.js"></script>

</body>
</html>
