<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Корабли {{ ship.class }}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <a href="/">Вернуться в магазин</a>
        <h1>{{ ship.class }} - {{ ship.nation }}</h1>
    </header>
    <main>
        <p>Цена: {{ ship.price }} дублонов</p>
        <button class="add-to-cart">Добавить в корзину</button>
    </main>
</body>
</html>
